*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 20vw;
    height: 35vh;
    padding: 13px 0 13px 13px;
    box-shadow: 3px 3px 3px gray;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    border-radius: 8px;
}


.limparInput{
    margin-left: 260px;
    margin-top: 15px;
    width: 5vw;
    height: 4vh;
    font-weight: bold;
    box-shadow: 2px 2px 2px gray;
    font-size: 15px;
}

.btn{
    width: 4vw;
    height: 4vh;
    margin: 8px;
    font-weight: bold;
    box-shadow: 2px 2px 2px gray;
    font-size: 15px;
}

.botoes{
    margin-top: 20px;
}